{% block title %} RecipEASY - Community {% endblock %}
{% block header %} Come and join the RecipEASY community! {% endblock %}
{% block content %}
<div class="container">
    <!-- Display area for posts -->
    <div id="posts">
        <!-- Posts will be added here -->
    </div>
    
    <!-- Form to submit a new post -->
    <div class="post-form">
        <textarea id="postContent" placeholder="Type post here..."></textarea>
        <button id="submitPost">Submit Post</button>
    </div>
</div>

<script src="static/javascript/community.js"></script>
{% endblock %}