{% extends 'base.html' %}
{% block title %} Add Recipe {% endblock %}
{% block header %} Add New Recipe {% endblock %}
{% block content %}
<div class = "container">
    <form class="add-form" action="/add_items" method="GET">
        <label for="recipeName">Recipe Name:</label>
        <input type="text" name="recipeName"><br>
    
        <label for="ingredients">Ingredients:</label><br>
        <textarea name="ingredients" rows="10" cols="30"></textarea><br>
        
        <label for="cook_time">Cooking Time(in minutes):</label><br>
        <textarea name="cook_time" rows="1" cols="10"></textarea><br>
        
        <label for="directions">Directions:</label><br>
        <textarea name="directions" rows="10" cols="30"></textarea><br>
        
        <button id="cancel">Cancel</button>
        <input type="submit" value="ADD ITEM" id="add_btn">
    </form>
    
</div>
<div method="POST">
New Recipe: 
    {{ result }}
</div>
{% endblock %}