<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/recipeasy_style.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div class="header">
        <h1>{% block header %}{% endblock %}</h1>
    </div>
    <div class="nav_bar">
        <a href="{{ url_for('home') }}">Home</a>
		<a href="{{ url_for('explore') }}">Explore</a>
        <a href="{{ url_for('my_recipes', user_id=session['user_id']) }}">My Recipes</a>
		<a href="{{ url_for('community') }}">Community</a>
        <!-- Conditionally display login or logout -->
        {% if session['user_id'] %}
            <a href="{{ url_for('logout') }}" class="logout_button">Logout</a>
        {% else %}
            <a href="{{ url_for('login') }}" class="login_button">Login</a>
        {% endif %}    
    </div>
    {% block content %}{% endblock %}
</body>
</html>
