{% extends 'base.html' %}

{% block title %}Explore RecipEASY{% endblock %}

{% block header %}Explore RecipEASY{% endblock %}

<div class="white-bar"></div>

{% block content %}
<div class="container">
    <div onmouseover="toggleOverlay(this)" onmouseout="toggleOverlay(this)">
        <button class="box" id="Recipe_Name" onclick="addTextBox('Recipe Name', 'Recipe_Name')">
        Recipe Name
        </button>
        <div class="overlay"></div>
    </div>
    <div onmouseover="toggleOverlay(this)" onmouseout="toggleOverlay(this)">
        <button class = "box" id="Ingredient_Name" onclick="addTextBox('Ingredient Name', 'Ingredient_Name')">
        Ingredient
        </button>
        <div class="overlay"></div>
    </div>
    <div onmouseover="toggleOverlay(this)" onmouseout="toggleOverlay(this)">
        <button class = "box" id="Author_Name" onclick="addTextBox('Author Name', 'Author_Name')">
        Author
        </button>
        <div class="overlay"></div>
    </div>
    <div  onmouseover="toggleOverlay(this)" onmouseout="toggleOverlay(this)">
        <button class = "box" id="surprise_me" onclick="surprise_me()">
        Surprise Me
        </button>
        <div class="overlay"></div>
    </div>
    <script>
        function toggleOverlay(element) {
            element.querySelector('.overlay').classList.toggle('show');
        }
    </script>
</div>
<div>
    {% for name in all_recipes %}
    <h1 style="padding:10px; background-color: #FFFFFF; margin: 20px ">
        <a href="{{ url_for('recipe', recipe_name= name  ) }}" style="font-size: 24px">{{ name }}</a>
    </h1>
    <!-- link to recipe page --->

    {% endfor %}
</div>

<script src="static/javascript/explore_search_recipes.js"></script>
{% endblock %}