{% extends 'base.html' %}
{% block title %} RecipEASY - Home {% endblock %}
{% block header %} RecipEASY {% endblock %}
{% block content %}
<div class="container">
        <div class="box" onclick="location.href='#'">
            Suggested for You
        </div>
        <div class="box" onclick="location.href='/add_new'">
            Add a Recipe
        </div>
        <div class="box" onclick="location.href='#'">
            Find New Recipes
        </div>
        <div class="box" onclick="location.href='#'">
            Your Recently Added
        </div>
</div>
{% endblock %}