{% extends 'base.html' %}
{% block title %} Delicious Recipe {% endblock %}
{% block header %} {{ recipe_data[1] }} {% endblock %}
{% block content %}
<div class="recipe">
    <div class="recipe-content">
            <h3>Cook Time: {{ recipe_data[3] }} minutes</h3>
        <div class="ingredients">
            <h2>Ingredients:</h2>
                <ul>
                    {% for ingredient in recipe_data[2] %}
                    <li>{{ ingredient }}</li>
                    {% endfor %}
                </ul>
        </div>
    
        <div class="recipe-image">
            <img src="static/images/{{recipe_data[1]}}.jpg" alt="Food Image" WIDTH=250>
        </div>
    </div>
        <div class="directions">
            <h2>Directions:</h2>
            <ol>
                {% for step in recipe_data[4] %}
                <li>{{ step }}</li>
                {% endfor %}
            </ol>
        </div>
</div>
{% endblock %}